.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .login-box {
    text-align: left;
    padding: 20px;
    border-radius: 10px;
  }
  
  .login-title {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .input-group {
    margin-bottom: 10px;
  }
  
  .login-input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .login-button {
  align-items: center;
  text-align: center;
  width: 100px;
  background-color: #007bff;
  color: #fff;
    border: none;
    
  }
  
  .login-button:hover {
    background-color: #0069d9;
  }
  